.jumbotron
  %h4
    Ideas? Partnerships?
    Find me at 
    = mail_to 'yshmarov@gmail.com'
    %hr
    We're also working on 
    = link_to "edurge", "http://www.edurge.herokuapp.com"
    &
    = link_to "xlplan", "http://www.xlplan.com"
    /successful project from DMSIS
%br
