.jumbotron.container
  %h3
    Ideas? Partnerships?
    Find me at 
    = mail_to 'support@xlplan.com'
    %p
    We're also working on 
    = link_to "askdemos.com", "http://www.askdemos.com"
    /successful project from DMSIS
%br
