.text-white
  %h1 Feed
  - @activities.each do |a|
    %p
    = distance_of_time_in_words Time.now, a.created_at
    ago
    = a.key
    - if a.trackable
      = link_to a.trackable.name, a.trackable
    - else
      which has since been removed
    = link_to a.owner.name, a.owner if a.owner
    /= a.trackable_type
    /= a.trackable_id
  /= render_activities(@activities, layout: :activity)
  /= render_activities(@activities)

