.jumbotron.container
  %h1 Privacy policy
  %p PRINCIPLES OF PERSONAL DATA PROCESSING
  %p (hereafter referred to as the “Principles”)
  %p PURPOSE OF THE PRINCIPLES
  %p 1.1. The purpose of these Principles is to satisfy the obligation to inform customers and potential
  %p customers of DOESMYSTARTUPIDEASUCK services (hereafter as the “Subject”) arising from Regulation (EU)
  %p 2016/679 of the European Parliament and of the Council of 27th April 2016, on the protection of
  %p natural persons with regard to the processing of personal data and on the free movement of such
  %p data, and repealing Directive 95/46/EC (hereafter as “GDPR”).
  %p CONTROLLER
  %p 2.1. ASKDEMOS Businesses, represents
  %p the controller1
  %p (hereafter the “Controller”)
  %p 2.2. The Controller may be contacted by means of email at hello@askdemos.com
  %p THE PERSON APPOINTED WITH PROTECTION OF PERSONAL DATA
  %p 3.1. The Controller appointed a person with the protection of personal data / Data Protection
  %p Officer, i.e. website owner who can be contacted by means of email at
  %p hello@askdemos.com.
  %p INFORMATION ON PROCESSING
  %p 4.1. The Controller is obligated to inform Subject on various facts about the processing, especially the
  %p purpose of processing, legal ground for processing and the data storage period. This obligation is
  %p to be satisfied by the Controller by means of GDPR Information board
  %p https://gdprset.com/p/jl4772
  %p 4.2. Software for personal data processing. The information board includes the information on what
  %p personal data is processed by the external software, the purpose of processing and what
  %p persons have access to the data.
  %p 4.3. Processors. The Controller uses the services of external companies, i.e. accounting. These
  %p external companies process personal data provided to the Controller within its activity.
  %p Information board includes the information on what personal data is processed by external
  %p companies, the purpose of processing and what persons have access to the data.
  %p 4.4. All persons involved by the company in processing of personal data satisfy requirements arising
  %p from GDPR.
  %p 
  %p 1 The Controller is a natural or legal person, public administration office, agency or another subject that decides – on its
  %p own or in cooperation with others – on the purposes and means of processing of personal data; if the purposes and
  %p means of the processing are determined by the European Union legislation or the legislation of a Member State, the
  %p Controller in question or the criteria for appointing the Controller may be determined by the given legislation.
  %p 2
  %p 4.5. All Controller’s employees are obligated to maintain confidentiality concerning all personal data
  %p processed within their work activity for the Controller.
  %p PERSONAL DATA SECURITY – TECHNICAL AND ORGANIZATIONAL MEASURES
  %p 5.1. Technical and organizational measures are included in the Information board.
  %p SUBJECT’S RIGHTS
  %p 6.1. A subject is entitled to claim the following rights towards the Controller under the conditions and in
  %p the extent specified in Chapter III of GDPR.
  %p 6.1.1. The right of the data subject to access to personal data: You have the right to get
  %p confirmation from the Controller of whether the data concerning your person are being
  %p processed. If your personal data are being processed, you have the right to access such
  %p data. Such access includes for example information on the purpose of processing, the
  %p category of personal data and information on the source of personal data. You also have
  %p the right to request a copy of the processed personal data.
  %p 6.1.2. The right to rectification: You have the right to require the Controller to rectify without
  %p unnecessary delay any inaccurate personal data with regard to your person that are being
  %p processed by the Controller.
  %p 6.1.3. The right to erasure: If a ground arises determined by GDPR (e.g. the personal data are
  %p not needed for the purposes of processing, or you revoke your consent), you have the right
  %p require the Controller to erase without unnecessary delay the personal data with regard to
  %p your person. The application of this right is not limitless though. The data is not going to be
  %p erased, for example, if such data are processed by virtue of a statutory obligation.
  %p 6.1.4. The right to restriction of processing: You have the right to require the Controller to restrict
  %p processing of your personal data in cases determined by GDPR. For example, such cases
  %p include a situation when you object with regard to the accuracy of the personal data. The
  %p restriction of processing lasts for as long as the Controller is verifying the accuracy of the
  %p personal data.
  %p 6.1.5. The right to data portability: In certain cases determined by GDPR (e.g. if the processing is
  %p based on your consent), you have the right to require the Controller to provide you with
  %p your personal data in a structured, commonly used and machine-readable format.
  %p Moreover, you have the right to transfer the data to another controlle
  %p 3
  %p TRANSFER OF PERSONAL DATA TO THIRD COUNTRIES AND INTERNATIONAL ORGANIZATIONS
  %p 7.1. Some personal data are going to be transferred to international organizations based outside EU.
  %p Details can be found in GDPR Information board.
  %p THE RIGHT TO REVOKE CONSENT AT ANY TIME
  %p 8.1. If processing of your personal data arises from your consent, you can revoke the consent at any
  %p time. Charts comprising Appendix no. 1 show what data are processed by virtue of your consent.
  %p 8.2. Giving or revoking your consent is your free choice. The Controller is in no position to force you to
  %p such conduct or penalize you anyhow with regard to it. Revoking one’s consent bears no impact
  %p to the legality of processing prior to revoking the consent (i.e. revoking the consent has no
  %p retrograde effect).
  %p COMPLAINTS
  %p 9.1. You have the right to file a complaint at any time concerning processing of your personal data with
  %p our Data Protection Officer or the person appointed with protection of personal data, using the
  %p contact details as stated in Art. 2.2 or 3.1.
  %p SENDING EMAILS, BUSINESS MATERIALS, SMS, MMS
  %p 10.1. The Subject gives the Controller his or her consent to sending (i) email messages to the email
  %p address given by the Subject; (ii) text or multimedia messages (SMS/MMS) to the telephone
  %p number(s) given by the Subject; (iii) written messages and marketing materials to the address
  %p given by the Subject; with regard to any action, events or facts concerning the activities of the
  %p Controller.
  %p 10.2. The Subject gives the Controller explicit consent to using the contact information specified in Art.
  %p 9.1 also for sending business materials not directly related to the contractual relationship with the
  %p Controller but related to another Controller’s product or service or the Controller as such. The
  %p Subject has the right to revoke the consent at any time, e.g. by following a procedure specified in
  %p an already received business material.
  %p TRANSMITTING PERSONAL DATA ON YOUR PART
  %p 11.1. Charts according to Art. 4.1 determine the processing in which providing personal data is
  %p obligatory.
  %p 11.2. If law requires you to provide your personal data, you are obligated to disclose the data. The same
  %p situation applies if your obligation to provide personal data arises from a contract concluded
  %p between you and the Controller. If disclosing personal data is obligatory and no disclosure takes
  %p place on your part, consequences determined by the given legislation or contract may apply. 
  %p 4
  %p FINAL PROVISIONS
  %p 12.1. These Principles come into effect on the day of their publishing.
  %p 
  %p On behalf of the Controller
  %p In Berlin on 24.5.2018
  %p ____________________________
  %p YAROSLAV SHMAROV
  %p CEO, ASKDEMOS Businesses
%br
