- content_for :title do
  Feed | Does my startup idea suck?
/= controller.action_name.capitalize
/startup ideas

.text-white
  %h1 Recent activity
  - @activities.each do |a|
    %p
    = distance_of_time_in_words Time.now, a.created_at
    ago
    = a.key
    - if a.trackable
      = link_to a.trackable.name, a.trackable
    - else
      which has since been removed
    - if a.owner
      by
      = link_to a.owner.name, a.owner
    /= a.trackable_type
    /= a.trackable_id
  /= render_activities(@activities, layout: :activity)
  /= render_activities(@activities)
