.container-fluid
  - @ideas.each do |idea|
    .card.container
      = time_ago_in_words(idea.created_at)
      ago by
      = idea.user.username
      %br
      %b= link_to idea.name, idea
      = idea.description
    %p