- content_for :title do
  = controller.action_name.capitalize
  startup ideas

.text-center.text-white
  %h3
    /%span.badge.badge-light
    = controller.action_name.capitalize
    ideas
    - if controller.action_name == 'random'
      = link_to 'Next', random_ideas_path, class: 'btn btn-secondary rounded-circle'

= render 'ideas/index'
- unless current_user
  %div{:class => "alert alert-warning", :role => "alert"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    Sign in to see more!
    /Sign in to vote, join idea discussion, or become a cofounder
%br