%br
- if @ideas.any?
  .text-center
    /%h1 Idea of the day
    %h4
      %b VOTE
  = render 'ideas/cards'
- else
  .text-center
    %h4 You've voted for all of them!
    %br
    %h6 
      You can 
      = link_to 'add a new idea', new_idea_path
      yourself
    %br
    = link_to 'Top ideas', top_ideas_path, class: 'btn btn-outline-success'      
