Comments
%p
- @comments.each do |comment|
  .card.container
    .row
      .col
        = time_ago_in_words(comment.created_at)
        by
        = comment.user.username
        - if comment.user_id == current_user.id
          = link_to "delete", comment, method: :delete, data: { confirm: 'Are you sure?' }
    = comment.body
  %p