%div{:class => "alert alert-warning", :role => "alert"}
  %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
  Sign in to see more.
  /Sign in to vote, join idea discussion, or become a cofounder
.text-center.text-white
  %h1 Fresh
= render 'ideas/index'
%br