%h1.b doesmystartupideasuck.com
%h3 Post idea. Validate. Discover.
.embed-responsive.embed-responsive-16by9
  %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/H16ldnm_-ak", :width => "560"}
.row
.text-center
  %h1 Sign in for access:
  = image_tag("doesmystartupsuck-screenshot.png", :size => "560x300", :crop => :fill, :alt => "doesmystartupsuck screenshot")
%br