%h1 Privacy policy
All the data except user data is public. Anybody is free to use it it his own will.

Disclaimer: These ideas are free of charge. We will not be held liable if ideas taken from this website get implemented and fail. We also will not be held liable if you do not get investment for these ideas. Should you need legal advice on the legitimacy of these ideas, please seek legal counsel. Lastly, should any idea taken from this website actually makes money, you agree to give us 51% of your business.
