%p
- @cofounders.each do |cofounder|
  .card.container
    .row
      .col-md-auto
        = cofounder.user.username
        %br
        - if cofounder.user == current_user
          = link_to 'remove me', cofounder, method: :delete, data: { confirm: 'Are you sure?' }
      .col
        = cofounder.role
        (#{cofounder.location})

  %p