%p
- @cofounders.each do |cofounder|
  .card.container
    .row
      .col-md-auto
        = cofounder.user.username
      .col
        %b role:
        = cofounder.role
        %br
        %b location:
        = cofounder.location
  %p