%p
- @cofounders.each do |cofounder|
  .card.container
    .row
      .col-md-auto
        = cofounder.user.username
      .col
        = cofounder.role
        (#{cofounder.location})
      .col-md-auto
        - if cofounder.user == current_user
          = link_to 'Remove me', cofounder, method: :delete, data: { confirm: 'Are you sure?' }

  %p