Get in touch with people passionate about realizing this idea. Show others how you can contribute (eg. webdesign, funding, media coverage, launch in your country).
%p
- @cofounders.each do |cofounder|
  .card.container
    .row
      .col-md-auto
        = cofounder.user.username
      .col
        role
        = cofounder.role
        %br
        location
        = cofounder.location
  %p