%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"}
    Idea
    = fa_icon "trash"
    or
    = fa_icon "rocket"
    ?
    /Does your startup idea suck ?
    Find out now!
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'Fresh', ideas_path, class: 'btn btn-outline-success'
      %li= link_to 'Top', top_ideas_path, class: 'btn btn-outline-success'
